html {
    scroll-behavior: smooth;
}
.form-group{
    margin-top: 10px;
}

.comment-field-area button{
    background-color:#AA4098;
    border: none;
}
.comment-field-area button:hover{
    background-color:gray;
    border: none;
}
.replied_by{
    display: flex;
    position: absolute;
}
.replied_by img{
    max-width: 100%;
    height: 50px;
}
#order_notification_list:not(last-child){
    right: 0px;
    left: auto;
    min-width: 24rem;
    padding-left: 10px;
}
.comment_date{
    font-size: 13px;
}
.agent_reply_time .agent_name{
    font-weight: 500;
    font-size: 15px;
    margin-right: 10px;
}
.replied_content{
    padding-top: 21px;
    padding-left: 52px;
}
.badge {
    line-height: inherit !important;
    background-color: #AA4098 !important;
    width: 22px !important;
    height: 22px !important;
    color: #ffffff !important;
    border-radius: 100% !important;
}

.mentiony-container {
    border: 1px solid #f3f3f3 !important;
    border-radius: 25px !important;
    background-color: #f3f3f3 !important;
}
.button-group{
    display: flex;
    justify-content: end;
}