html {
    scroll-behavior: smooth;
}
.form-group{
    margin-top: 10px;
}

.comment-field-area button{
    background-color:#AA4098;
    border: none;
}
.comment-field-area button:hover{
    background-color:gray;
    border: none;
}
.replied_by{
    display: flex;
    position: absolute;
}
.replied_by img{
    max-width: 100%;
    height: 50px;
}
#order_notification_list:not(last-child){
    right: 0px;
    left: auto;
    min-width: 24rem;
    padding-left: 10px;
}
.comment_date{
    font-size: 13px;
}
.agent_reply_time .agent_name{
    font-weight: 500;
    font-size: 15px;
    margin-right: 10px;
}
.replied_content{
    padding-top: 21px;
    padding-left: 52px;
}